[Unit]
Description=ClamAV Daily Scan

[Service]
ExecStart=/home/%u/.pkglist/programs/clamav/clamav_daily_scan.sh
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

