[Unit]
Description=Update SearXNG container images as %i
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/.os/programs/privacy/searxng/update.sh
