@import url('./themes/mocha.css');

* {
  background-image: none;
  font-family: "Fira Code", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 20ms;
}

window {
  background-color: rgba(12, 12, 12, 0.7);
}

button {
  margin: 10px;
  border: 2px solid @red;
  border-radius: 20px;
  background-color: @crust;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  font-size: 20px;
  color: @text;
}

button:focus,
button:active,
button:hover {
  background-color: #181825;
  outline-style: none;
}

#lock,
#suspend,
#shutdown {
  border-color: @sapphire;
}

#lock {
  background-image: image(url("assets/png/white/lock.png"));
}

#logout {
  background-image: image(url("assets/png/white/logout.png"));
}

#suspend {
  background-image: image(url("assets/png/white/suspend.png"));
}

#hibernate {
  background-image: image(url("assets/png/white/hibernate.png"));
}

#shutdown {
  background-image: image(url("assets/png/white/shutdown.png"));
}

#reboot {
  background-image: image(url("assets/png/white/reboot.png"));
}
