#audio {
  margin: 5px 0;
  padding: 0 10px;
  border: 2px solid @blue;
  border-radius: 10px;
  background-color: @mantle;
}

#pulseaudio,
#pulseaudio-slider {
  padding: 0 10px;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio-slider slider {
  opacity: 0;
  min-width: 0px;
  min-height: 0px;
  border: none;
  background-image: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 5px;
  background-color: @mauve;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: @yellow;
}
