#language-and-keyboard {
  margin: 5px;
  padding: 0 10px;
  border: 2px solid @blue;
  border-radius: 25px;
  background-color: @mantle;
}

#keyboard-state,
#language {
  padding: 0 10px;
}

#language {
  color: @text;
}

#keyboard-state {
  padding-left: 5px;
  color: @teal;
}
