#language-and-keyboard {
  margin: 5px 0;
  padding: 0 10px;
  border: 2px solid @blue;
  border-radius: 10px;
  background-color: @mantle;
}

#language {
  padding: 0 10px;
  color: @text;
}

#keyboard-state {
  color: @teal;
}
