#wl-gammarelay {
  margin: 5px;
  padding: 0 10px;
  border: 2px solid @cornflowerblue-color;
  border-radius: 25px;
  background-color: @fg-color;
}

#custom-wl-gammarelay-temperature,
#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-gamma {
  padding: 0 10px;
  color: @mediumpurple-color;
}

#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-gamma {
  padding-right: 5px;
}

#custom-wl-gammarelay-temperature {
  padding-right: 15px;
  padding-left: 5px;
}
