#wl-gammarelay {
  margin: 5px;
  padding: 0 10px;
  border: 2px solid @blue;
  border-radius: 25px;
  background-color: @mantle;
}

#custom-wl-gammarelay-temperature,
#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-gamma {
  color: @mauve;
}


