#workspaces {
  margin: 5px;
  padding: 0 10px;
  border: 2px solid @cornflowerblue-color;
  border-radius: 50px 25px;
  background-color: @fg-color;
}

#workspaces button {
  margin: 5px;
  padding: 0 10px;
  color: @lightsteelblue-color;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
  color: @cornflowerblue-color;
}

#window {
  margin: 5px;
  padding: 0 20px;
  border: 2px solid @cornflowerblue-color;
  border-radius: 50px 25px;
  background-color: @fg-color;
  font-size: 90%;
  color: @cornflowerblue-color;
}

window#waybar.empty #window {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

