#workspaces {
  margin: 5px 0;
  padding: 0 10px;
  border: 2px solid @blue;
  border-radius: 10px;
  background-color: @mantle;
}

#workspaces button {
  margin: 5px 0;
  padding: 0 10px;
  color: @text;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
  color: @sapphire;
}

#window {
  margin: 5px 0;
  padding: 0 20px;
  border: 2px solid @blue;
  border-radius: 10px;
  background-color: @mantle;
  font-size: 90%;
  color: @sapphire;
}

window#waybar.empty #window {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

