.waybar {
  background-color: transparent;
  color: @text;
}

.waybar menu {
  background-color: transparent;
}

.waybar menu > * :first-child {
  margin-left: -50px;
}

.waybar menu label {
  margin-bottom: 10px;
  border: 2px solid @blue;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  background-color: @base;
  color: @text;
  opacity: 1;
}
